* {
    border: 0;
    padding: 0;
    margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body{
		background-image: url('../res/images/bg.jpg') !important;
	}
    
    #lyricbox {
        bottom: 150px !important;
    }
    
}

canvas#world {}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#creditsbox {
    display:none;
    width: 400px;
    height: 400px;
    font-size: 10pt;
}

#debug {
    position: absolute;
    top: 40px;
    right: 10px;
}

#jpId {
    height: 0;
    width: 0;
}
#jpId2 {
    height: 0;
    width: 0;
}

body {
    background-image: url('../res/images/bg.jpg');
    background-position: bottom right;
    font-family: 'Segoe UI', 'Trebuchet MS', Arial, sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    color: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #000;
}

#links {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 30px;
    text-align: right;
}

p {
    font-family: 'Reenie Beanie', Arial, sans-serif;
    font-size: 28pt;
    position: relative;

    width: 400px;
    overflow: hidden;
}

.vilify {
    height: 110px;
    font-family: 'Rock Salt';
    font-size: 32pt;
}

#controls {
    position: fixed;
    top: 5px;
    left: 5px;
}

#lyricbox {
    position: absolute;
    bottom: 330px;
    left: 20px;
    height: 150px;
    text-shadow: -2px 2px 2px #000;
}